/****************MAIN******************/
body {
    background-color: #6699CC;
    margin: 0 auto;
    /* padding: 5px 20px 5px 20px; */
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 14px;
    line-height: 125%;
    position: relative;
}
/**************NAVBAR******************/
.navbar-brand {
    font-size: 2em;
    font-weight: 700;
}

.navbar-right {
    font-size: 2em;
    font-weight: 700;
}

/* PROJECT THUMBNAIL STYLES */
.thumbnail {
    height: 600px;
    width: 500px;
    margin: 0 auto;
  }
.projectBtns {
    color: #337ab7;
    padding: 8px;
    text-decoration: none;
    border: solid 1px;
    border-radius: 5px;
    background-color: gainsboro;
    display: inline-block;
    text-align: center;
    width: 25%;
}
/* .main-container {
    width: 60%;
    margin: 0 auto;
    position: relative;
    background-color: #96CDFB;
    border: solid 5px white;
} */
/****************NAVIGATION************/

/* nav {
    border: solid grey 1px;
    border-right: solid grey 1px;
    width: 75%;
    background-color: lightsteelblue;
    text-align: justify;
}
nav li {
    list-style: none;
    display: inline;

}
nav a {
 text-decoration: none;
 padding: 20px;
 line-height: 1.5em;
 color: black;
 font-size: 1.25em;
 text-align: justify;
}

nav a:hover {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    background-color: lightslategrey;
} */